  .center {
    text-align: center;
  }

  .red {
    color: #CC0000;
  }

  #waiting {
    background-position: center top;
    background-image: url("https://storage.googleapis.com/bkper-public/addons/waiting.gif");
    background-repeat: no-repeat;
  }

  #onOffLabel {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    color: grey;
  }

  #onOffLabel, #waiting {
    height: 45px;
  }

   #onOffButtonPanel   {
     height:  40px;
   }
   
  #toggleContainer {
    margin: auto;
  }   

  #onOffLabel, #onOffButton {
     display: none;
  }
  
  #onOffButton {
      cursor: pointer;
  }

  #statusPanel {
    display:none;
    color: #909090;
  }
  
  #statusText {
    display: block;
    padding-bottom: 5px;
  }
