body {
  margin: 0;
}

.sidebar {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 10px 10px 5px 10px;
  position: absolute;
  width: 100%;
}

.function-radio-btn {
  width: 135px;
}

.bal-type-radio-btn {
  margin-right: 10px;
}

.optional-param-checkbox {
  width: 100px !important;
  margin-right: 10px;
}

.inline + .inline {
  margin-left: 0px;
}

input[type="radio"] {
  margin: 0;
}

.branding-below {
  bottom: 100px;
  top: 0;
}

.bottom {
  background: #FFFFFF;
}

.hiddenContent {
  display: none;
}

.loadPanel {
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  opacity: 0.2;
  cursor: pointer;
}

.loadPanelLoading {
  background-image: url("https://storage.googleapis.com/bkper-public/addons/loading-arrows.gif");
  opacity: 0.8;
  cursor: default;
}

.loadPanelLoadingLink {
  background-image: url("https://storage.googleapis.com/bkper-public/addons/loading-arrows-fixed.gif");
  opacity: 0.3;
}


.loadPanelLoadingLink:hover {
  opacity: 0.8;
  background-color: #F5F5F5;

}

.logo {
  vertical-align: middle;
  height: 55px;
}


.right {
  float: right;
}

.branding-text {
  left: 5px;
  position: relative;
  top: 18px;
  display: inline-block;
  text-decoration: none;
}

.waiting {
  background-position: center;
  background-image: url("https://storage.googleapis.com/bkper-public/addons/waiting.gif");
  background-repeat: no-repeat;
}

.col-contain {
  overflow: hidden;
}

.col-one {
  float: left;
  width: 50%;
}

.radio-spacer {
  height: 24px;
}

.width-100 {
  width: 100%;
}

.ledgerSelect {
  width: 195px;
}

#recordedStatus {
  margin: 20px auto;
  text-align: center;
  padding: 2px;
  font-weight: bolder;
  color: #FFFFFF;
  -webkit-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
}

.bold {
  font-weight: bold;
}

.recordedStatusHighlighted {
  background-color: #B0DDBC;
  color: darkgreen !important;
}


#generalError, #queryError {
 color: red;
 display: none;
}

#tab-bar {
  display: table;
  width: 100%;
}

.tab-bar-item {
  display: table-cell;
  text-align: center;
  width: 50%;
  background: #EEEEEE;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #E4E4E4;
  cursor: pointer;
}

.tab-bar-item-selected {
  background: #FFFFFF;
  border-top: 1px solid #E4E4E4;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  border-bottom: 0px;
}


.tabContent {
 height: auto;
}

#contentWrapper {
  padding-top: 25px;
}








/*********************** AUTOCOMPLETE ****************/

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  border: 1px solid #DCDCDC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
  font-size: 12px;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br {
  border-bottom-right-radius: 0;
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl {
  border-bottom-left-radius: 0;
}

.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr {
  border-top-right-radius: 0;
}

.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl {
  border-top-left-radius: 0;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .2em .4em;
  line-height: 1.5;
  zoom: 1;
  cursor: default;
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
  -x-system-font: none;
  color: #222222;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.ui-menu .ui-menu-item a:hover,.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active,.ui-menu .ui-menu-item a.ui-state-focus
  {
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
}